.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*,*::before ,*::after{
  box-sizing: border-box;

}

body{

  margin: 0;
  background: linear-gradient(to right , #00AAFF , #00FF6C );
} 

.result{
  width: 80px auto;
  height:40px ;
  background-color: yellowgreen;
}
/* input{
  display: grid;
  grid--rows: minmax(7rem ,auto);

} */

.add{
  display: flex;
  align-items: center;
  justify-content: center;

}
input{
  width: 30px auto;
  height:50px ;
}
button{
   width: 100px;
   margin:10px;
   height:40px;
}